h1 {
    color: brown;
}
p{
    color: chocolate;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #005fa3;
  }
body{
    background-image: ;
}